html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow:visible;
  transform: scale(1);
}

.button {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: -1;
  border-radius: 80px;
  background-color: #222;
}

.button::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 80px;
  background-color: inherit;
  z-index: -1;
}

.button::before {
  content: "";
  background: linear-gradient(
    45deg, 
    #ff0000, #ff7300, #fffb00, #48ff00, 
    #00ffd5, #002bff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-size: 600%;
  filter: blur(8px);
  z-index: -1;
  border-radius: 80px;
  opacity: 1; /* Always glowing */
  transition: opacity 0.3s ease-in-out;
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.button:hover:hover {
  background: transparent;
}

.button:hover {
  color: #000;
  font-weight: bold;
}
